PORT=8000

MY_EMAIL=
MY_PASSWORD=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

DB_USERNAME=root
DB_PASSWORD=Usaidaka-2
DB_DATABASE_DEV=warehouse_development
DB_DATABASE_TEST=warehouse_test
DB_DATABASE_PROD=warehouse_production
DB_HOST=127.0.0.1
DB_DIALECT=mysql

BASEPATH=http://localhost:8000
BASEPATH_FE_REACT=http://localhost:3000

API_RAJAONGKIR=https://api.rajaongkir.com/starter?key=
RAJAONGKIR_KEY=raja_ongkir_API_key

API_OPENCAGE=https://api.opencagedata.com/geocode/v1/json?q=URI-ENCODED-PLACENAME&key=
OPENCAGE_KEY=OPENCAGE_API_KEY

CLIENT_ID=
CLIENT_SECRET=
